project_key         = "terraform-frontend-tutorial"
aws_access_key      = "XXXXXXXXXXXXXX"
aws_secret_key      = "XXXXXXXXXXXXXX"
aws_region          = "ca-central-1"
s3_bucket_name      = "tutorial.yourdomain.com"
s3_bucket_env       = "development"
domain              = "yourdomain.com"
subdomain           = "tutorial"
hosted_zone         = "yourdomain.com"
